<section class="flex justify-center flex-col max-w-screen-xl mx-auto mt-0">
  <ol class="flex items-center w-full text-sm font-medium text-center text-gray-400 sm:text-base max-w-4xl mx-auto">
    <li class="flex md:w-full items-center text-green-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
        [ngClass]="!accountInfoSubmitted ? 'after:border-gray-200' : 'after:border-green-500'">
      <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-500">
        <svg [@fadeInOut] *ngIf="accountInfoSubmitted" aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
        <span [@fadeInOut] *ngIf="!accountInfoSubmitted" class="mr-2">1</span>
        Account <span class="hidden sm:inline-flex sm:ml-2">Info</span>
      </span>
    </li>
    <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
      [ngClass]="accountInfoSubmitted ? 'text-green-500' : 'text-gray-400'">
      <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-500">
        <span class="mr-2">
          <svg [@fadeInOut] *ngIf="accountInfoSubmitted && personalInfoSubmitted" aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
          </svg>
          <span [@fadeInOut] *ngIf="!personalInfoSubmitted" class="mr-2">2</span>
        </span>
        Personal <span class="hidden sm:inline-flex sm:ml-2">Info</span>
      </span>
    </li>
    <li class="flex items-center">
      <span class="mr-2">
        3
        <!-- <svg aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg> -->
      </span>
      Confirmation
    </li>
  </ol>

  <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)" class="w-full md:w-fit mt-8 mx-auto flex flex-col items-center" *ngIf="!accountInfoSubmitted" [@fadeInOut] >
    <div class="grid gap-4 sm:grid-cols-2 max-w-screen-lg min-w-full sm:min-w-[600px] md:min-w-[800px]">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
        <input required type="email" name="email" id="email" [(ngModel)]="accountInfo.username" placeholder="email@tavis.com" 
          class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
      </div>
      <div>
        <label for="confirm-email" class="block mb-2 text-sm font-medium text-white">Confirm Email</label>
        <input required type="email" name="confirm-email" id="confirm-email" [(ngModel)]="accountInfo.username_confirm"
          class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500" placeholder="email@tavis.com">
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="accountInfo.password" required minlength="8"
          class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500" placeholder="•••••••••">
      </div>                        
      <div>
        <label for="confirm-password" class="block mb-2 text-sm font-medium text-white">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password" [(ngModel)]="accountInfo.password_confirm"  required minlength="8"
          class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500" placeholder="•••••••••">
      </div>
      <div>
        <label for="gamertag" class="block mb-2 text-sm font-medium text-white">Gamertag</label>
        <input required type="text" name="gamertag" id="gamertag" [(ngModel)]="accountInfo.gamertag" placeholder="Xbox Gamertag" 
          class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
      </div>
    </div>

    <div class="mt-6">
      <div class="flex items-center py-1">
        <div [ngClass]="accountInfo.username.length > 0 && accountInfo.username.indexOf('@') != -1 ? 'bg-green-200 text-green-700' : 'bg-red-200 text-red-700'"
            class=" rounded-full p-1 fill-current ">
          <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path *ngIf="accountInfo.username.length > 0 && accountInfo.username.indexOf('@') != -1" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M5 13l4 4L19 7"/>
            <path *ngIf="accountInfo.username.length == 0 || accountInfo.username.indexOf('@') == -1" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <span [ngClass]="accountInfo.username.length > 0 && accountInfo.username.indexOf('@') != -1 ? 'text-green-500' : 'text-red-500'" class="font-medium text-sm ml-3">
          {{accountInfo.username.length > 0 && accountInfo.username.indexOf('@') != -1 ? 'Valid Email!' : 'Email is invalid'}}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div [ngClass]="accountInfo.username == accountInfo.username_confirm && accountInfo.username.length > 0 ? 'bg-green-200 text-green-700' : 'bg-red-200 text-red-700'"
            class=" rounded-full p-1 fill-current ">
          <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path *ngIf="accountInfo.username == accountInfo.username_confirm && accountInfo.username.length > 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M5 13l4 4L19 7"/>
            <path *ngIf="accountInfo.username != accountInfo.username_confirm || accountInfo.username.length == 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <span [ngClass]="accountInfo.username == accountInfo.username_confirm && accountInfo.username.length > 0 ? 'text-green-500' : 'text-red-500'" class="font-medium text-sm ml-3">
          {{accountInfo.username == accountInfo.username_confirm && accountInfo.username.length > 0 ? 'Emails match!' : 'Emails do not match'}}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div [ngClass]="{'bg-green-200 text-green-700': accountInfo.password.length > 7, 'bg-red-200 text-red-700':accountInfo.password.length <= 7 }"
          class=" rounded-full p-1 fill-current ">
          <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path *ngIf="accountInfo.password.length > 7" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"
                    d="M5 13l4 4L19 7"/>
              <path *ngIf="accountInfo.password.length < 7" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <span [ngClass]="{'text-green-500': accountInfo.password.length > 7, 'text-red-500':accountInfo.password.length <= 7 }"
          class="font-medium text-sm ml-3">
          {{accountInfo.password.length > 7 ? 'Valid Password!' : 'At least 8 characters required'}}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div [ngClass]="accountInfo.password == accountInfo.password_confirm && accountInfo.password.length > 0 ? 'bg-green-200 text-green-700' : 'bg-red-200 text-red-700'"
            class=" rounded-full p-1 fill-current ">
          <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path *ngIf="accountInfo.password == accountInfo.password_confirm && accountInfo.password.length > 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M5 13l4 4L19 7"/>
            <path *ngIf="accountInfo.password != accountInfo.password_confirm || accountInfo.password.length == 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <span [ngClass]="(accountInfo.password == accountInfo.password_confirm && accountInfo.password.length > 0) ? 'text-green-500' : 'text-red-500'" 
          class="font-medium text-sm ml-3">
          {{accountInfo.password == accountInfo.password_confirm && accountInfo.password.length > 0 ? 'Passwords match!' : 'Passwords do not match'}}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div [ngClass]="accountInfo.gamertag.length > 0 ? 'bg-green-200 text-green-700' : 'bg-red-200 text-red-700'"
            class=" rounded-full p-1 fill-current ">
          <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path *ngIf="accountInfo.gamertag.length > 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M5 13l4 4L19 7"/>
            <path *ngIf="accountInfo.gamertag.length == 0" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <span [ngClass]="accountInfo.gamertag.length > 0 ? 'text-green-500' : 'text-red-500'" class="font-medium text-sm ml-3">
          {{accountInfo.gamertag.length > 0 ? 'Valid Gamertag!' : 'Gamertag is invalid'}}
        </span>
      </div>
    </div>

    <div class="text-center mt-8">
      <button type="submit"
        [disabled]="
          accountInfo.password != accountInfo.password_confirm ||
          accountInfo.password.length <= 7 ||
          accountInfo.username.length < 1 || 
          accountInfo.username.indexOf('@') == -1 ||
          accountInfo.username != accountInfo.username_confirm ||
          accountInfo.gamertag.length < 0
        "
        class="text-white disabled:opacity-25 disabled:pointer-events-none focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800">
        Next Step: Personal Info
      </button>
    </div>
  </form>

  <form #infoForm="ngForm" (ngSubmit)="registerInfo(infoForm)" class="w-full md:w-fit mt-8 mx-auto flex flex-col items-center" *ngIf="accountInfoSubmitted && !personalInfoSubmitted" [@fadeInOut] >
    <a href="#" class="block max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700 mb-4">
      <h5 class="mb-2 text-xs font-bold tracking-tight text-white">Why this info?</h5>
      <p class="font-normal text-sm text-gray-400">
        The info on this page is totally optional! Feel free to skip it, but location will be used to track fun leaderboards and various other statistics. 
        Your discord to give us a way to reach out to you if needed!
        This information will never be sold. To anyone.
      </p>
    </a>

    <label for="discord" class="block mb-2 text-sm font-medium text-white">Discord</label>
    <input required type="text" name="discord" id="discord" [(ngModel)]="personalInfo.discord" placeholder="Discord#0000" 
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">

    <label for="regions" class="block mb-2 text-sm font-medium mt-5 text-white">Select your region</label>
    <select id="regions" name="regions" [(ngModel)]="personalInfo.region" (change)='onRegionSelect(personalInfo.region)'
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
      <option *ngFor="let region of regions">{{region}}</option>
    </select>

    <label for="areas" class="block mb-2 text-sm font-medium mt-5 text-white">Select your area</label>
    <select id="areas" name="areas" [(ngModel)]="personalInfo.area" [disabled]="!regionSelected"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
      <option *ngFor="let area of areas">{{area}}</option>
    </select>

    <!-- TODO: add discord field -->

    <div class="text-center mt-8">
      <button type="submit"
        [disabled]="
          accountInfo.password != accountInfo.password_confirm ||
          accountInfo.password.length <= 7 ||
          accountInfo.username.length < 1 || 
          accountInfo.username.indexOf('@') == -1
        "
        class="text-white disabled:opacity-25 disabled:pointer-events-none focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800">
        Next Step: Confirmation
      </button>
    </div>
  </form>

  <section *ngIf="accountInfoSubmitted && personalInfoSubmitted" class="flex flex-col items-center mt-10">
    <div class="block max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700 mb-4 text-center  pointer-events-none">
      <h5 class="mb-2 text-xl font-bold tracking-tight text-white">Review!</h5>
      <p class="font-normal text-sm text-gray-400">
        <span class="font-bold">Email</span>:
        {{registration.username}}
      </p>
      <p class="font-normal text-sm text-gray-400">
        <span class="font-bold">Gamertag</span>:
        {{registration.gamertag}}
      </p>
      <p class="font-normal text-sm text-gray-400">
        <span class="font-bold">Discord</span>:
        {{registration.discord || '--'}}
      </p>
      <p class="font-normal text-sm text-gray-400">
        <span class="font-bold">Region</span>:
        {{registration.region || '--'}}
      </p>
      <p class="font-normal text-sm text-gray-400">
        <span class="font-bold">Area</span>:
        {{registration.area || '--'}}
      </p>
    </div>
    
    <button
      type="submit" (click)="submitRegistration()"
      class="px-7 py-3 bg-red-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
      Looks good, register!
    </button>
  </section>

</section>
