<section class="mx-auto mt-0 flex max-w-screen-xl flex-col justify-center">
  <ol
    class="mx-auto flex w-full max-w-4xl items-center text-center text-sm font-medium text-gray-400 sm:text-base"
  >
    <li
      class="after:border-1 flex items-center text-green-500 after:mx-6 after:hidden after:h-1 after:w-full after:border-b sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10"
      [ngClass]="
        !accountInfoSubmitted
          ? 'after:border-gray-200'
          : 'after:border-green-500'
      "
    >
      <span
        class="flex items-center after:mx-2 after:font-light after:text-gray-500 after:content-['/'] sm:after:hidden"
      >
        <svg
          [@fadeInOut]
          *ngIf="accountInfoSubmitted"
          aria-hidden="true"
          class="mr-2 h-4 w-4 sm:h-5 sm:w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span [@fadeInOut] *ngIf="!accountInfoSubmitted" class="mr-2">1</span>
        Account <span class="hidden sm:ml-2 sm:inline-flex">Info</span>
      </span>
    </li>
    <li
      class="after:border-1 flex items-center after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:content-[''] sm:after:inline-block md:w-full xl:after:mx-10"
      [ngClass]="[
        accountInfoSubmitted && personalInfoSubmitted
          ? 'after:border-green-500'
          : 'after:border-gray-200',
        accountInfoSubmitted ? 'text-green-500' : 'text-gray-400'
      ]"
    >
      <span
        class="flex items-center after:mx-2 after:font-light after:text-gray-500 after:content-['/'] sm:after:hidden"
      >
        <span class="mr-2">
          <svg
            [@fadeInOut]
            *ngIf="accountInfoSubmitted && personalInfoSubmitted"
            aria-hidden="true"
            class="mr-2 h-4 w-4 sm:h-5 sm:w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span [@fadeInOut] *ngIf="!personalInfoSubmitted" class="mr-2"
            >2</span
          >
        </span>
        Personal <span class="hidden sm:ml-2 sm:inline-flex">Info</span>
      </span>
    </li>
    <li
      class="flex items-center"
      [ngClass]="
        accountInfoSubmitted && personalInfoSubmitted
          ? 'text-green-500'
          : 'text-gray-400'
      "
    >
      <span class="mr-2"> 3 </span>
      Confirmation
    </li>
  </ol>

  <form
    #registrationForm="ngForm"
    (ngSubmit)="register(registrationForm)"
    class="mx-auto mt-8 flex w-full flex-col items-center md:w-fit"
    *ngIf="!accountInfoSubmitted"
    [@fadeInOut]
  >
    <div
      class="grid min-w-full max-w-screen-lg gap-4 sm:min-w-[600px] sm:grid-cols-2 md:min-w-[800px]"
    >
      <div>
        <label for="email" class="mb-2 block text-sm font-medium text-white"
          >Email</label
        >
        <input
          required
          type="email"
          name="email"
          id="email"
          [(ngModel)]="accountInfo.username"
          placeholder="email@tavis.com"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
        />
      </div>
      <div>
        <label
          for="confirm-email"
          class="mb-2 block text-sm font-medium text-white"
          >Confirm Email</label
        >
        <input
          required
          type="email"
          name="confirm-email"
          id="confirm-email"
          [(ngModel)]="accountInfo.username_confirm"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
          placeholder="email@tavis.com"
        />
      </div>
      <div>
        <label for="password" class="mb-2 block text-sm font-medium text-white"
          >Password</label
        >
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="accountInfo.password"
          required
          minlength="8"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
          placeholder="•••••••••"
        />
      </div>
      <div>
        <label
          for="confirm-password"
          class="mb-2 block text-sm font-medium text-white"
          >Confirm password</label
        >
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          [(ngModel)]="accountInfo.password_confirm"
          required
          minlength="8"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
          placeholder="•••••••••"
        />
      </div>
      <div>
        <label for="gamertag" class="mb-2 block text-sm font-medium text-white"
          >Gamertag</label
        >
        <input
          required
          type="text"
          name="gamertag"
          id="gamertag"
          [(ngModel)]="accountInfo.gamertag"
          placeholder="Xbox Gamertag"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
        />
      </div>
    </div>

    <div class="mt-6">
      <div class="flex items-center py-1">
        <div
          [ngClass]="
            accountInfo.username.length > 0 &&
            accountInfo.username.indexOf('@') != -1
              ? 'bg-green-200 text-green-700'
              : 'bg-red-200 text-red-700'
          "
          class="rounded-full fill-current p-1"
        >
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngIf="
                accountInfo.username.length > 0 &&
                accountInfo.username.indexOf('@') != -1
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
            <path
              *ngIf="
                accountInfo.username.length == 0 ||
                accountInfo.username.indexOf('@') == -1
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <span
          [ngClass]="
            accountInfo.username.length > 0 &&
            accountInfo.username.indexOf('@') != -1
              ? 'text-green-500'
              : 'text-red-500'
          "
          class="ml-3 text-sm font-medium"
        >
          {{
            accountInfo.username.length > 0 &&
            accountInfo.username.indexOf("@") != -1
              ? "Valid Email!"
              : "Email is invalid"
          }}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div
          [ngClass]="
            accountInfo.username == accountInfo.username_confirm &&
            accountInfo.username.length > 0
              ? 'bg-green-200 text-green-700'
              : 'bg-red-200 text-red-700'
          "
          class="rounded-full fill-current p-1"
        >
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngIf="
                accountInfo.username == accountInfo.username_confirm &&
                accountInfo.username.length > 0
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
            <path
              *ngIf="
                accountInfo.username != accountInfo.username_confirm ||
                accountInfo.username.length == 0
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <span
          [ngClass]="
            accountInfo.username == accountInfo.username_confirm &&
            accountInfo.username.length > 0
              ? 'text-green-500'
              : 'text-red-500'
          "
          class="ml-3 text-sm font-medium"
        >
          {{
            accountInfo.username == accountInfo.username_confirm &&
            accountInfo.username.length > 0
              ? "Emails match!"
              : "Emails do not match"
          }}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div
          [ngClass]="{
            'bg-green-200 text-green-700': accountInfo.password.length > 7,
            'bg-red-200 text-red-700': accountInfo.password.length <= 7
          }"
          class="rounded-full fill-current p-1"
        >
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngIf="accountInfo.password.length > 7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
            <path
              *ngIf="accountInfo.password.length < 7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <span
          [ngClass]="{
            'text-green-500': accountInfo.password.length > 7,
            'text-red-500': accountInfo.password.length <= 7
          }"
          class="ml-3 text-sm font-medium"
        >
          {{
            accountInfo.password.length > 7
              ? "Valid Password!"
              : "At least 8 characters required"
          }}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div
          [ngClass]="
            accountInfo.password == accountInfo.password_confirm &&
            accountInfo.password.length > 0
              ? 'bg-green-200 text-green-700'
              : 'bg-red-200 text-red-700'
          "
          class="rounded-full fill-current p-1"
        >
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngIf="
                accountInfo.password == accountInfo.password_confirm &&
                accountInfo.password.length > 0
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
            <path
              *ngIf="
                accountInfo.password != accountInfo.password_confirm ||
                accountInfo.password.length == 0
              "
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <span
          [ngClass]="
            accountInfo.password == accountInfo.password_confirm &&
            accountInfo.password.length > 0
              ? 'text-green-500'
              : 'text-red-500'
          "
          class="ml-3 text-sm font-medium"
        >
          {{
            accountInfo.password == accountInfo.password_confirm &&
            accountInfo.password.length > 0
              ? "Passwords match!"
              : "Passwords do not match"
          }}
        </span>
      </div>

      <div class="flex items-center py-1">
        <div
          [ngClass]="
            accountInfo.gamertag.length > 0
              ? 'bg-green-200 text-green-700'
              : 'bg-red-200 text-red-700'
          "
          class="rounded-full fill-current p-1"
        >
          <svg
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              *ngIf="accountInfo.gamertag.length > 0"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
            <path
              *ngIf="accountInfo.gamertag.length == 0"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <span
          [ngClass]="
            accountInfo.gamertag.length > 0 ? 'text-green-500' : 'text-red-500'
          "
          class="ml-3 text-sm font-medium"
        >
          {{
            accountInfo.gamertag.length > 0
              ? "Valid Gamertag!"
              : "Gamertag is invalid"
          }}
        </span>
      </div>
    </div>

    <div class="mt-8 text-center">
      <button
        type="submit"
        [disabled]="
          accountInfo.password != accountInfo.password_confirm ||
          accountInfo.password.length <= 7 ||
          accountInfo.username.length < 1 ||
          accountInfo.username.indexOf('@') == -1 ||
          accountInfo.username != accountInfo.username_confirm ||
          accountInfo.gamertag.length < 0
        "
        class="rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-800 disabled:pointer-events-none disabled:opacity-25"
      >
        Next Step: Personal Info
      </button>
    </div>
  </form>

  <form
    #infoForm="ngForm"
    (ngSubmit)="registerInfo(infoForm)"
    class="mx-auto mt-8 flex w-full flex-col items-center md:w-fit"
    *ngIf="accountInfoSubmitted && !personalInfoSubmitted"
    [@fadeInOut]
  >
    <a
      href="#"
      class="mb-4 block max-w-sm rounded-lg border border-gray-700 bg-gray-800 p-6 shadow hover:bg-gray-700"
    >
      <h5 class="mb-2 text-xs font-bold tracking-tight text-white">
        Why this info?
      </h5>
      <p class="text-sm font-normal text-gray-400">
        The info on this page is totally optional! Feel free to skip it, but
        location will be used to track fun leaderboards and various other
        statistics. Your discord to give us a way to reach out to you if needed!
        This information will never be sold. To anyone.
      </p>
    </a>

    <label for="discord" class="mb-2 block text-sm font-medium text-white"
      >Discord</label
    >
    <input
      type="text"
      name="discord"
      id="discord"
      [(ngModel)]="personalInfo.discord"
      placeholder="discord_username"
      class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
    />

    <label for="regions" class="mb-2 mt-5 block text-sm font-medium text-white"
      >Select your region</label
    >
    <select
      id="regions"
      name="regions"
      [(ngModel)]="personalInfo.region"
      (change)="onRegionSelect(personalInfo.region)"
      class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
    >
      <option *ngFor="let region of regions">{{ region }}</option>
    </select>

    <label for="areas" class="mb-2 mt-5 block text-sm font-medium text-white"
      >Select your area</label
    >
    <select
      id="areas"
      name="areas"
      [(ngModel)]="personalInfo.area"
      [disabled]="!regionSelected"
      class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
    >
      <option *ngFor="let area of areas">{{ area }}</option>
    </select>

    <!-- TODO: add discord field -->

    <div class="mt-8 text-center">
      <button
        type="submit"
        [disabled]="
          accountInfo.password != accountInfo.password_confirm ||
          accountInfo.password.length <= 7 ||
          accountInfo.username.length < 1 ||
          accountInfo.username.indexOf('@') == -1
        "
        class="rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-800 disabled:pointer-events-none disabled:opacity-25"
      >
        Next Step: Confirmation
      </button>
    </div>
  </form>

  <section
    *ngIf="accountInfoSubmitted && personalInfoSubmitted"
    class="mt-10 flex flex-col items-center"
  >
    <div
      class="pointer-events-none mb-4 block max-w-sm rounded-lg border border-gray-700 bg-gray-800 p-6 text-center shadow hover:bg-gray-700"
    >
      <h5 class="mb-2 text-xl font-bold tracking-tight text-white">Review!</h5>
      <p class="text-sm font-normal text-gray-400">
        <span class="font-bold">Email</span>:
        {{ registration.username }}
      </p>
      <p class="text-sm font-normal text-gray-400">
        <span class="font-bold">Gamertag</span>:
        {{ registration.gamertag }}
      </p>
      <p class="text-sm font-normal text-gray-400">
        <span class="font-bold">Discord</span>:
        {{ registration.discord || "--" }}
      </p>
      <p class="text-sm font-normal text-gray-400">
        <span class="font-bold">Region</span>:
        {{ registration.region || "--" }}
      </p>
      <p class="text-sm font-normal text-gray-400">
        <span class="font-bold">Area</span>:
        {{ registration.area || "--" }}
      </p>
    </div>

    <button
      type="submit"
      (click)="submitRegistration()"
      class="rounded bg-red-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg"
    >
      Looks good, register!
    </button>
  </section>
</section>
