<section>
  <div class="px-6 text-gray-800">
    <div class="g-6 flex h-full flex-wrap items-center justify-center">
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:ml-20 xl:w-5/12">
        <form
          #loginForm="ngForm"
          (ngSubmit)="login(loginForm)"
          class="flex flex-col gap-5"
        >
          <div>
            <label
              for="username"
              class="mb-2 block text-sm font-medium text-white"
              >Your Email</label
            >
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  ></path>
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  ></path>
                </svg>
              </div>
              <input
                type="email"
                id="username"
                name="username"
                placeholder="name@tavis.com"
                [(ngModel)]="credentials.username"
                required
                class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 pl-10 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
              />
            </div>
          </div>

          <div>
            <label
              for="password"
              class="mb-2 block text-sm font-medium text-white"
              >Password</label
            >
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 23 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.6667 8.99988L12 11.9999M12 11.9999L10.3333 8.99988M12 11.9999H9.5M12 11.9999H14.5M12 11.9999L10.3333 14.9999M12 11.9999L13.6667 14.9999M6.16667 8.99994L4.5 11.9999M4.5 11.9999L2.83333 8.99994M4.5 11.9999H2M4.5 11.9999H7M4.5 11.9999L2.83333 14.9999M4.5 11.9999L6.16667 14.9999M21.1667 8.99994L19.5 11.9999M19.5 11.9999L17.8333 8.99994M19.5 11.9999H17M19.5 11.9999H22M19.5 11.9999L17.8333 14.9999M19.5 11.9999L21.1667 14.9999"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="password"
                [(ngModel)]="credentials.password"
                required
                class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 pl-10 text-sm text-white placeholder-gray-400 focus:border-green-500 focus:ring-green-500"
              />
            </div>
          </div>

          <div class="mb-6 flex items-center justify-between">
            <!-- <div class="flex items-center">
                <input checked id="rememberme" type="checkbox" value=""
                  class="w-4 h-4 text-green-600 rounded dark:focus:ring-green-600 ring-offset-green-800 focus:ring-2 bg-gray-700 border-gray-600" />
                <label for="rememberme" class="ml-2 text-sm font-medium text-gray-300 hover:text-gray-400 cursor-pointer select-none">Remember Me</label>
            </div> -->

            <label
              class="relative inline-flex cursor-pointer select-none items-center"
            >
              <input
                type="checkbox"
                id="rememberme"
                value=""
                [checked]="rememberMe"
                (click)="rememberMeToggle()"
                class="peer sr-only"
              />
              <div
                class="peer h-6 w-11 rounded-full border-gray-600 bg-gray-700 after:absolute after:top-[2px] after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-green-600 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-800"
              ></div>
              <span class="ml-3 text-sm font-medium text-gray-300"
                >Remember Me</span
              >
            </label>

            <a
              class="pointer-events-none ml-2 text-sm font-medium text-gray-600"
              disabled
              >Forgot Password?</a
            >
          </div>

          <div class="text-center">
            <button
              type="submit"
              [disabled]="!loginForm.valid"
              class="inline-block cursor-pointer rounded bg-green-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg disabled:pointer-events-none disabled:opacity-25"
            >
              Sign In
            </button>
            <!-- <p class="mt-2 mb-0 pt-1 text-sm font-semibold text-slate-50">
              Don't have an account?
              <a
                href="{{ discordSignin }}"
                class="inline-flex items-center space-x-4 rounded-md bg-indigo-500 px-5 py-3 text-xl font-bold transition duration-75 hover:bg-gray-600"
              >
                <span>Login with Discord!</span>
              </a>
            </p> -->
            <button
              type="button"
              (click)="connect()"
              class="inline-block cursor-pointer rounded bg-green-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg disabled:pointer-events-none disabled:opacity-25"
            >
              Connect
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
