<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Tavis</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="bcm-admin" class="nav-link">BCM Admin</a>
      </li>
      <li class="nav-item">
        <a routerLink="sync" class="nav-link">Sync Manager</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserAuthenticated()" routerLink="login" class="nav-link">Login</a>
        <a *ngIf="isUserAuthenticated()" class="nav-link" (click)="logOut()">Log out</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
