<section>
  <div class="px-6 text-gray-800">
    <div
      class="flex justify-center items-center flex-wrap h-full g-6"
    >
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="t_flex-form">

          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-white">Your Email</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
              </div>
              <input type="email" id="username" name="username" placeholder="name@tavis.com" [(ngModel)]="credentials.username" required
                class="border text-sm rounded-lg block w-full pl-10 p-2.5  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
            </div>
          </div>

          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.6667 8.99988L12 11.9999M12 11.9999L10.3333 8.99988M12 11.9999H9.5M12 11.9999H14.5M12 11.9999L10.3333 14.9999M12 11.9999L13.6667 14.9999M6.16667 8.99994L4.5 11.9999M4.5 11.9999L2.83333 8.99994M4.5 11.9999H2M4.5 11.9999H7M4.5 11.9999L2.83333 14.9999M4.5 11.9999L6.16667 14.9999M21.1667 8.99994L19.5 11.9999M19.5 11.9999L17.8333 8.99994M19.5 11.9999H17M19.5 11.9999H22M19.5 11.9999L17.8333 14.9999M19.5 11.9999L21.1667 14.9999" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="credentials.password" required
                class="border text-sm rounded-lg block w-full pl-10 p-2.5  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-green-500 focus:border-green-500">
            </div>
          </div>

          <div class="flex justify-between items-center mb-6">
            <!-- <div class="flex items-center">
                <input checked id="rememberme" type="checkbox" value="" 
                  class="w-4 h-4 text-green-600 rounded dark:focus:ring-green-600 ring-offset-green-800 focus:ring-2 bg-gray-700 border-gray-600" />
                <label for="rememberme" class="ml-2 text-sm font-medium text-gray-300 hover:text-gray-400 cursor-pointer select-none">Remember Me</label>
            </div> -->

            <label class="relative inline-flex items-center cursor-pointer select-none">
              <input type="checkbox" id="rememberme" value="" [checked]="rememberMe" (click)="rememberMeToggle()" class="sr-only peer">
              <div class="w-11 h-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-800 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-green-600"></div>
              <span class="ml-3 text-sm font-medium text-gray-300">Remember Me</span>
            </label>

            <a href="#!" class="ml-2 text-sm font-medium text-gray-300 hover:text-gray-400" routerLink="/forgot-password">Forgot Password?</a>
          </div>

          <div class="text-center">
            <button
              type="submit" [disabled]="!loginForm.valid"
              class="inline-block px-7 py-3 bg-green-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg 
                focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out cursor-pointer disabled:opacity-25 disabled:pointer-events-none">
              Sign In
            </button>
            <p class="text-sm font-semibold mt-2 pt-1 mb-0 text-slate-50">
              Don't have an account?
              <a
                href="#"
                routerLink="/register"
                class="text-red-500 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out">
                Register!
              </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>